# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/

# Environment
.env

# IDE
.vscode/
.idea/

# Logs
*.log

# ML model artifacts
*.joblib
*.pkl

# Large datasets
ai-service/ml-service/data/raw/*.csv
ai-service/ml-service/data/processed/*.csv

# Temporary / backup
*_backup.csv
price_test.json

# OS
.DS_Store
Thumbs.db

ai-service/ml-service/data/processed/github_sample_3000.csv

!ai-service/ml-service/data/sample/github_sample_3000.csv
